@model _57_Exercises.ViewModels.Ex10ViewModel
    <table class="table">
        <tr>
            <th>
                Result
            </th>
        </tr>

        <tr>
            <td>
                Subtotal: @Model.SubTotal
            </td>
        </tr>
        <tr>
            <td>
                Tax: @Model.Tax
            </td>
        </tr>
        <tr>
            <td>
                Total: @Model.Total
            </td>
        </tr>
    </table>
