@model _57_Exercises.ViewModels.Ex12ViewModel
    <table class="table">
        <tr>
            <th>
                Result
            </th>
        </tr>

        <tr>
            <td>
                After @Model.Years years at @Model.Rate%, 
                the investment will be worth @(Model.Interest) kr.
            </td>
        </tr>
        
    </table>
