@model _57_Exercises.ViewModels.Ex14ViewModel

<table class="table">
    <tr>
        <th>
            Results
        </th>
    </tr>

@foreach (var item in Model.Result) {
    <tr>
        <td>
            @item
        </td>
    </tr>
}

</table>
