@model _57_Exercises.ViewModels.Ex18ViewModel

<table class="table">
    <tr>
        <th>
            Results
        </th>
    </tr>

    <tr>
        <td>
            Cesius: @Model.TempInCelsius
        </td>
    </tr>
    
    <tr>
        <td>
            Farenheight: @Model.TempInFarenheight
        </td>
    </tr>

</table>
