@model _57_Exercises.ViewModels.Ex22ViewModel

@{
    if (ViewBag.ErrorMsg != null)
    {
        <p>@ViewBag.ErrorMsg</p>
    }
    else
    {
        <table class="table">
            <tr>
                <th>
                    Results
                </th>
            </tr>
            <tr>
                <td>
                    @($"The largest number is: {Model.Largest}")
                </td>
            </tr>
        </table>
    }
}