@model double[]
<table class="table">
    <tr>
        <th>
            The area is:
        </th>
    </tr>

    <tr>
        <td>
            @Model[0] square feet.

        </td>
    </tr>
    <tr>
        <td>
            @Model[1] square meter.
        </td>
    </tr>


</table>
