@model int[]
<table class="table">
    <tr>
        <th>
            @Model[0] people with @Model[1] pizzas.
        </th>
    </tr>

    <tr>
        <td>
            Each person gets @Model[2] slices of pizza.
        </td>
    </tr>
    <tr>
        <td>
            There are @Model[3] leftover slices.
        </td>
    </tr>
</table>
