@model _57_Exercises.ViewModels.Ex9ViewModel
    <table class="table">
        <tr>
            <th>
                Result
            </th>
        </tr>

        <tr>
            <td>
                You will need to purchase @Model.CansOfPaintNeeded cans of 
                paint to cover @Model.SquareMeters square meters.
            </td>
        </tr>
    </table>
