@using _57_Exercises.Controllers

@model _57_Exercises.ViewModels.Ex34ViewModel

<ol>
    @foreach (var name in Model.Names)
    {
        <li>@name</li>
    }
</ol>

@*@using (Ajax.BeginForm(actionName: nameof(Chapter7Controller._34), ajaxOptions: new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "result", InsertionMode = InsertionMode.Replace }))*@
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Type name to remove: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("Name", "", new { @class = "form-control", Value = "" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ok" class="btn btn-default" />
            </div>
        </div>
    </div>
}